body.scrolling {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

.zscroll {
	position: relative;
	overflow: visible;
}

.zscroll-box {
	position: relative;
	overflow: hidden;
	outline: none;
}

.zscroll-container {
	position: relative;
	display: inline-block;
	transition: all ease-in-out .3s;
	min-width: 100%;
	min-height: 100%;
	box-sizing: border-box;
}

.zscroll-bar {
	display: none;
}

/* 滚动条外层容器 */
.zscroll .zscroll-bar {
	display: block;
	position: absolute;
	cursor: pointer;
	transition: all ease-in-out .2s;
	opacity: 1;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	overflow: visible;
	outline: none;
	z-index: 999;

}

.zscroll.zscroll-auto-hide .zscroll-bar {
	opacity: 0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	transition: opacity ease-in 2s;

}

.zscroll.zscroll-auto-hide.mouse-over .zscroll-bar {
	opacity: 1;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	transition: opacity ease-in-out .2s;

}

.zscroll .zscroll-bar.hide {
	display: block !important;
	z-index: -1;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) !important;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) !important;
	opacity: 0 !important;
}

/* 滚动条容器 */
.zscroll-bar .zscroll-dragger-container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: auto;
	transition: all ease-in-out .25s;
}

/* 滚动曹 */
.zscroll-bar .zscroll-draggerRail {
	border-radius: 16px;
	background: transparent;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: 0;
	opacity: .8;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	transition: all ease-in-out .3s;
}

.zscroll-bar.mouse-over .zscroll-draggerRail {
	opacity: 1;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

/* 拖拽块容器*/
.zscroll-bar .zscroll-dragger {
	position: absolute;
	overflow: hidden;
	cursor: pointer;
	/*transition: all ease-in-out .15s;*/
}

.zscroll-bar .zscroll-dragger.no-animate {
	/*transition-duration: 0.05s;*/
}

.zscroll-bar .zscroll-dragger:hover {

}

/* 拖拽块 */
.zscroll-bar .zscroll-dragger-bar {
	background-color: #ababab;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: .8;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 16px;
}

/* 横向 */
.zscroll-bar.zscroll-bar-h {
	bottom: 0;
	left: 0;
	right: 0;
}

.zscroll-bar.zscroll-bar-h .zscroll-dragger-container {
	top: auto;
	height: 5px;
}

.zscroll-bar.zscroll-bar-h:hover .zscroll-dragger-container,
.zscroll-bar.zscroll-bar-h.mouse-down .zscroll-dragger-container {
	height: 10px;
}

.zscroll-bar.zscroll-bar-h .zscroll-draggerRail {

}

.zscroll-bar.zscroll-bar-h .zscroll-dragger {
	height: 100%;
	left: 0;
}

.zscroll-bar.zscroll-bar-h .zscroll-dragger:hover {

}

/* 纵向 */
.zscroll-bar.zscroll-bar-v {
	bottom: 0;
	top: 0;
	right: 0;
}

.zscroll-bar.zscroll-bar-v .zscroll-dragger-container {
	left: auto;
	width: 5px;
}

.zscroll-bar.zscroll-bar-v:hover .zscroll-dragger-container,
.zscroll-bar.zscroll-bar-v.mouse-down .zscroll-dragger-container {
	width: 10px;
}

.zscroll-bar.zscroll-bar-v .zscroll-draggerRail {

}

.zscroll-bar.zscroll-bar-v .zscroll-dragger {
	width: 100%;
	top: 0;
}

.zscroll-bar.zscroll-bar-v .zscroll-dragger:hover {

}